[package]
name = "triton-profiler"
version = "0.9.0"
authors = ["Triton Software AG"]
edition = "2021"

license = "GPL-2.0"
description = "A universal profiler tailored to Triton-VM"
homepage = "https://github.com/Neptune-Crypto/triton-vm"
documentation = "https://github.com/Neptune-Crypto/triton-vm"
repository = "https://github.com/Neptune-Crypto/triton-vm"
readme = "../README.md"

keywords = ["triton-vm", "stark", "profiler"]
categories = ["cryptography", "mathematics"]

[dependencies]
twenty-first = { version = "0.9.0" }
anyhow = "1.0"
bincode = "1.3"
blake3 = "1.2"
byteorder = "1.4"
console = "0"
colored = "2.0"
hashbrown = "0.13.1"
itertools = "0.10"
nom = "7.1"
num-bigint = { version = "0.4", features = ["serde"] }
num-traits = "0.2"
parity-scale-codec = "3"
paw = "1.0"
phf = { version = "0.11", features = ["macros"] }
primitive-types = { version = "0.12", features = ["serde"] }
rand = "0.8"
rand_chacha = "0"
rand_core = "0"
rand_distr = "0.4"
rand_pcg = "0.3"
rayon = "1.5"
ring = "0.16"
rusty-leveldb = "1"
serde = { version = "1.0", features = ["derive"] }
serde-big-array = "0"
serde_derive = "1"
serde_json = "1.0"
serde_with = "2.1"
structopt = { version = "0.3", features = ["paw"] }
strum = "0.24"
strum_macros = "0.24"
unicode-width = "0.1.5"
criterion = "0.4.0"

[dev-dependencies]
proptest = "1.0"

[dev-dependencies.criterion]
version = "0.4.0"
features = ["html_reports"]

[dev-dependencies.cargo-husky]
version = "1"
default-features = false
features = ["precommit-hook", "run-cargo-clippy", "run-cargo-fmt"]
