[package]
name = "triton-vm"
version = "0.10.0"
edition = "2021"
authors = ["Triton Software AG"]

license = "Apache-2.0"
description = """
A virtual machine that comes with Algebraic Execution Tables (AET) and Arithmetic Intermediate Representations (AIR)
for use in combination with a STARK proof system to allow proving correct execution of arbitrary programs
in zero-knowledge.
"""
homepage = "https://triton-vm.org/"
documentation = "https://github.com/TritonVM/triton-vm/tree/master/specification"
repository = "https://github.com/TritonVM/triton-vm"
readme = "../README.md"

keywords = ["zero-knowledge", "STARK", "virtual-machine", "recursive"]
categories = ["cryptography", "mathematics"]

[dev-dependencies]
proptest = "1.0"

[dev-dependencies.criterion]
version = "0.4.0"
features = ["html_reports"]

[dev-dependencies.cargo-husky]
version = "1"
default-features = false

[dependencies]
twenty-first = "0.10"
triton-opcodes = { version = "0.1", path = "../triton-opcodes" }
triton-profiler = "0.9"
anyhow = "1.0"
bincode = "1.3"
blake3 = "1.2"
byteorder = "1.4"
console = "0.15.2"
colored = "2.0"
hashbrown = "0.13.1"
itertools = "0.10.5"
nom = "7.1"
num-bigint = { version = "0.4", features = ["serde"] }
num-traits = "0.2"
parity-scale-codec = "3"
paw = "1.0"
phf = { version = "0.11.1", features = ["macros"] }
primitive-types = { version = "0.12.1", features = ["serde"] }
rand = "0.8.5"
rand_chacha = "0.3.1"
rand_core = "0.6.4"
rand_distr = "0.4.3"
rand_pcg = "0.3.1"
rayon = "1.5"
regex = "1.7"
ring = "0.16.20"
rusty-leveldb = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde-big-array = "0.4.1"
serde_derive = "1.0"
serde_json = "1.0"
serde_with = "2.1"
structopt = { version = "0.3", features = ["paw"] }
strum = "0.24"
strum_macros = "0.24"
ndarray = { version = "0.15", features = ["rayon"] }

[[bench]]
name = "prove_halt"
harness = false

[[bench]]
name = "prove_fib_100"
harness = false

[[bench]]
name = "verify_halt"
harness = false
