on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: Rust

jobs:
  runner-matrix:
    name: Build, lint, test
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Install nextest
        uses: taiki-e/install-action@nextest

      - name: Build constraints
        run: cargo run --bin constraint-evaluation-generator

      - name: Run fmt
        run: cargo fmt --all -- --check

      - name: Build documentation
        run: cargo doc --no-deps --workspace
        env:
          RUSTDOCFLAGS: -D warnings

      - name: Run clippy
        run: cargo clippy --all-targets -- -D warnings

      - name: Run tests
        run: cargo nextest run --no-fail-fast --all-targets

        # doctests are special [^1] but this step does not incur a performance penalty [^2]
        #
        # [^1]: https://nexte.st/book/usage.html#limitations
        # [^2]: https://github.com/nextest-rs/nextest/issues/16
      - name: Run documentation tests
        run: cargo test --doc
