name: mdBook

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  mdbook:
    name: mdBook
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: jontze/action-mdbook@v3
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          mdbook-version: "~0.4.45"
          use-linkcheck: true
          linkcheck-version: "~0.7.7"
          use-katex: true

          # See https://github.com/lzanini/mdbook-katex/releases for releases
          # that have associated binary artifacts
          katex-version: "~0.9.3-binaries"

      - name: Build mdBook
        run: mdbook build ./specification

      - name: Test mdBook
        run: mdbook test ./specification
